[*.cs]

# Justification: Test project
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.PS0003.severity = suggestion
dotnet_diagnostic.PS0013.severity = suggestion
dotnet_diagnostic.PS0018.severity = suggestion

# Justification: Tests don't support cancellation and don't need to forward IMessageHandlerContext.CancellationToken
dotnet_diagnostic.NSB0002.severity = suggestion

# Justification: VS is broken wrt diagnostics on projects with multiple TFM's. Remove this line when the project targets only TFM's which support C# 9
dotnet_diagnostic.IDE0078.severity = suggestion
