<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.15" targetFramework="net461" />
  <package id="AWSSDK.SQS" version="3.3.1.12" targetFramework="net461" />
  <package id="NServiceBus" version="6.3.4" targetFramework="net461" />
  <package id="NServiceBus.TransportTests.Sources" version="6.3.4" targetFramework="net461" />
  <package id="NUnit" version="3.6.1" targetFramework="net452" />
</packages>