<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TestConnectionString" value="Region=ap-southeast-2;S3BucketForLargeMessages=sqstransportmessages;S3KeyPrefix=test;QueueNamePrefix=IntegrationTest-"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
