name: CI
on:
  push:
    branches:
      - master
      - release-*
  pull_request:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  NSERVICEBUS_AMAZONSQS_S3BUCKET: ${{ secrets.NSERVICEBUS_AMAZONSQS_S3BUCKET }}
defaults:
  run:
    shell: pwsh
jobs:
  build:
    name: ${{ matrix.os.name }}-${{ matrix.framework }}
    runs-on: ${{ matrix.os.platform }}
    strategy:
      matrix:
        os:
          - { platform: windows-latest, name: Windows }
          - { platform: ubuntu-latest, name: Linux }
        framework: [ net481, net8.0 ]
        exclude:
          - os: { name: Linux }
            framework: net481
      fail-fast: false
    steps:
      - name: Check for secrets
        env:
          SECRETS_AVAILABLE: ${{ secrets.SECRETS_AVAILABLE }}
        run: exit $(If ($env:SECRETS_AVAILABLE -eq 'true') { 0 } Else { 1 })
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.1.0
        with:
          global-json-file: global.json
      - name: Build
        run: dotnet build src --configuration Release
      - name: Upload packages
        if: matrix.os.name == 'Windows' && matrix.framework == 'net8.0'
        uses: actions/upload-artifact@v6.0.0
        with:
          name: NuGet packages
          path: nugets/
          retention-days: 7
      - name: Run tests
        uses: Particular/run-tests-action@v1.7.0
        with:
          framework: ${{ matrix.framework }}
